.game-card {
  border: 1px solid #262020;
  background-color: #1a1a1a;
  color: #9bf00b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 230px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.delete-btn {
  margin-top: 15px;
  background-color: #121212;
  color: white;
  border: 2px solid #444;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #2ecc71;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(46, 204, 113, 0.8);
  border-color: white;
}

.delete-btn:active {
  transform: scale(0.95);
  background-color: #0a5a0a;
}

.game-card:hover {
  transform: scale(1.05) translateY(-10px);
  border-color: #107c10;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 0 20px rgba(16, 124, 16, 0.4);
}

.game-card:hover h3 {
  color: #9bf00b;
  text-shadow: 0 0 10px rgba(155, 240, 11, 0.5);
}

p {
  color: #9bf00b;
}
